<html>
<head>
    <!--<META HTTP-EQUIV="Refresh" CONTENT="10">-->
    <title>Image Captation Team</title>
</head>
<body>
    <div>
        <h1>Video with descrption and Knowledge Graph</h1>
        <img src="{{ url_for('video_feed') }}" alt="video" width="40%">
        <img src="{{url_for('static', filename='langmodel.png')}}" alt="User Image" width="40%">
        <h1>Captions</h1>
    </div>
    <button type="button" onclick="ClearFunction">Clear</button>
    <div id="log"></div>
    <br>
    <script>

      const log = (text, color) => {
        document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
      };
      var counter = 0;
      const socket = new WebSocket('ws://localhost:8000/echo');
      socket.addEventListener('message', ev => {
        log('<<< ' + ev.data, 'blue');
        var elem = document.getElementById('log');
        if(counter == 10)
        {
          elem.innerHTML ="";
          counter = 0;
        }
        counter = counter + 1;
      });
            function ClearFunction(){
        var elem = document.getElementById('log');
        elem.innerHTML ="";
      }
      /* document.getElementById('form').onsubmit = ev => {
        ev.preventDefault();
        const textField = document.getElementById('text');
        log('>>> ' + textField.value, 'red');
        socket.send(textField.value);
        textField.value = '';
      }; */
    </script>
        <!--<div>
            {% for data in data %}
            <p>{{ data }}</p>
            {% endfor %}
        </div>-->
    </div>
</body>
</html>
